.roundTimeBar {
  width: 30rem;
  margin: 0 auto;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 10px;
}

.roundTimeBar div {
  height: 20px;
  transform-origin: left center;
  background: linear-gradient(to bottom, green, orange);
}

.roundTimeBarAnim {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
  animation-play-state: var(--paused);
}

.time {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  .time {
    color: black;
  }
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}

@media screen and (max-width: 658px) {
  .roundTimeBar {
    width: 15rem;
  }
}
